.address {
  margin-top: 20px;
  list-style: none;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: $white-font-color;
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    text-decoration: none;
    color: $footer-link-contact-color;
    transition: $general-transition;

    &:hover,
    &:focus {
      color: $general-blue-color;
    }
  }
}
