.card {
  display: none;
  box-shadow: $card-shadows;
  background-color: $white-font-color;
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 428px;

  &__caption {
    width: 270px;
    height: 168px;
  }
  &__name-heading {
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.03em;
  }
  &__proffesion {
    color: $contact-color;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
