.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  z-index: 1;
  transition-property: visibility, opacity, transform;
  transform: scale(1);
  transition: $general-transition;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
.modal {
  position: relative;
  margin: auto;
  background: $white-font-color;
  box-shadow: $modal-shadow;
  width: calc(100% - 30px);
  height: 609px;
  // @include tablet {
  //   width: 50vw;
  //   height: 50vw;
  // }
  // @include desktop {
  //   width: calc(50% - 30px);
  //   height: 581px;
  // }
  &__modal-close {
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: $modal-border;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 8px;
    @include flex-center;
    background: transparent;
  }
  &__title {
    display: block;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 12px;
    color: $general-font-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    text-align: center;
    width: 370px;
    margin: 0 auto;
    @include desktop {
      width: 448px;
      letter-spacing: 0.06em;
    }
  }
  &__position-box {
    position: relative;
  }
  &__label {
    color: $contact-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 4px;
  }
  &__position-item {
    display: block;
    margin-left: 40px;
  }
  .modal__input {
    padding-left: 42px;
    height: 40px;
    width: calc(100% - 80px);
    @include desktop {
      width: 448px;
    }

    border-radius: 4px;
    border: $modal-input-border;
    transition-property: border;
    transition: $general-transition;
    &:focus {
      border-color: $general-blue-color;
      outline: none;
    }
    &:nth-child(n) {
      margin-bottom: 10px;
    }
    &:focus + .form-icon-position {
      fill: $general-blue-color;
      transition-property: fill;
      transition: $general-transition;
    }
  }

  &__textarea {
    width: calc(100% - 40px);
    height: 120px;
    border-radius: 4px;
    border: $modal-input-border;
    outline: none;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.01em;
    text-align: left;
    transition-property: border;
    transition: $general-transition;
    &:focus {
      border-color: $general-blue-color;
    }
  }
  .form-icon-position {
    position: absolute;
    z-index: 20;
    left: 55px;
    top: 29px;
  }
  &__comment {
    display: block;
    margin-bottom: 4px;
  }
  textarea::placeholder {
    color: $text-area-color;
  }
}
