.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  position: fixed;
  background-color: #fff;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: $general-transition;

  &__close-btn {
    position: absolute;
    top: 27px;
    right: 18px;
    background-color: transparent;
    border: none;
    transition-property: fill;
    transition: $general-transition;
    &:hover,
    &:focus {
      fill: $general-blue-color;
    }
  }
}
