.our-clients-list {
  list-style: none;
  display: flex;
  display: none;
  justify-content: space-between;
  gap: 30px;

  &__item {
    height: 92px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid $icon-color;
    @include flex-center;
    cursor: pointer;
    color: $icon-color;
    transition: $general-transition;

    &:hover .our-clients-list--fill,
    &:focus .our-clients-list--fill {
      fill: $general-blue-color;
    }
    &:hover {
      border: 1px solid $general-blue-color;
    }
  }
  &--fill {
    fill: currentColor;
  }
}
