.page-header {
  border-bottom: 1px solid;
  border-color: $border-header-color;

  &__flex-container {
    @include flex-center-space;
    height: 60px;
    @include tablet {
      height: 80px;
    }
  }

  &__contakt {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__hamburger {
    background-color: transparent;
    border: none;
    margin-left: auto;
    &:hover,
    &:focus {
      fill: $general-blue-color;
    }

    @include tablet {
      display: none;
    }
  }
}
