.widget {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  &__item {
    background: $widget-item;
  }
  &__heading {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    color: $white-font-color;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
    @include tablet {
      margin-top: 0;
    }
    @include desktop {
      margin-top: 12px;
    }
  }
}
